<ion-content [fullscreen]="true">
  <input
    id="uploadForm"
    type="file"
    name="file"
    style="display: none"
    accept="application/JSON"
    (change)="changeListener($event)"
  />
  <mgl-map
    [style]="'mapbox://styles/mapbox/light-v11'"
    [zoom]="zoom"
      [center]="center"
      [centerWithPanTo]="true"
      [pitch]="[pitch]"
    [bearing]="[-17.6]"
    (load)="onMapLoad($event)"
    (idle)="onMapIdle($event)"
  >
    <mgl-control mglFullscreen></mgl-control>
    <mgl-control mglNavigation></mgl-control>

    <mgl-control mglScale unit="imperial" position="bottom-left"></mgl-control>
    <mgl-control mglAttribution [compact]="true" position="bottom-right"
      >Powered By - nSpire insights</mgl-control
    >
    <mgl-control
      mglGeolocate
      [trackUserLocation]="true"
      [showUserLocation]="true"
      position="top-right"
    ></mgl-control>

    <mgl-layer
      id="add-3d-buildings"
      type="fill-extrusion"
      [source]="'composite'"
      [sourceLayer]="'building'"
      [paint]="{
          'fill-extrusion-color': '#AAA',
          'fill-extrusion-height': [
          'interpolate',
          ['linear'],
          ['zoom'],
          15,
          0,
          15.05,
          ['get', 'height']
          ],
          'fill-extrusion-base': [
          'interpolate',
          ['linear'],
          ['zoom'],
          15,
          0,
          15.05,
          ['get', 'min_height']
          ],
          'fill-extrusion-opacity': 0.3
        }"
    ></mgl-layer>
    <mgl-geojson-source *ngIf="data" id="trace" [data]="data">
    </mgl-geojson-source>
    <mgl-layer
      *ngIf="data"
      id="trace"
      type="fill-extrusion"
      source="trace"
	  [layout]= "{
                        'visibility': 'visible'
                    }"
      [paint]="{
            'fill-extrusion-color': ['step', ['get', 'colour'], '#808080', 1, '#0000FF', 2, '#00FF00', 3, '#FFFF00', 4, '#FF0000', 5, '#D3D3D3'],
            'fill-extrusion-height': ['get', 'height'],
            'fill-extrusion-base': ['get', 'min_height'],
            'fill-extrusion-opacity': 0.60,
			'fill-extrusion-vertical-gradient': true,
			'fill-extrusion-translate': [0,0]
          }"
      (layerMouseEnter)="cursorStyle = 'pointer'"
      (layerMouseLeave)="cursorStyle = ''"
      (layerClick)="onClick($event)"
    >
    </mgl-layer>
	
	
	
	<mgl-geojson-source *ngIf="block" id="block" [data]="block">
    </mgl-geojson-source>
    <mgl-layer
      *ngIf="block"
      id="block"
      type="fill-extrusion"
      source="block"
	  [layout]= "{
                        'visibility': 'none'
                    }"
      [paint]="{
            'fill-extrusion-color': ['step', ['get', 'colour'], '#808080', 1, '#0000FF', 2, '#00FF00', 3, '#FFFF00', 4, '#FF0000', 5, '#D3D3D3'],
            'fill-extrusion-height': ['get', 'height'],
            'fill-extrusion-base': ['get', 'min_height'],
            'fill-extrusion-opacity': 0.60,
			'fill-extrusion-vertical-gradient': true,
			'fill-extrusion-translate': [0,0]
          }"
      (layerMouseEnter)="cursorStyle = 'pointer'"
      (layerMouseLeave)="cursorStyle = ''"
      (layerClick)="onClick($event)"
    >
    </mgl-layer>
	
	
	
	
	<mgl-geojson-source *ngIf="outline" id="outline" [data]="outline">
    </mgl-geojson-source>
    <mgl-layer
      *ngIf="outline"
      id="outline"
      type="fill-extrusion"
      source="outline"
	  [layout]= "{
                        'visibility': 'none'
                    }"
      [paint]="{
            'fill-extrusion-color': ['step', ['get', 'colour'], '#808080', 1, '#0000FF', 2, '#00FF00', 3, '#FFFF00', 4, '#FF0000', 5, '#D3D3D3'],
            'fill-extrusion-height': ['get', 'height'],
            'fill-extrusion-base': ['get', 'min_height'],
            'fill-extrusion-opacity': 0.60,
			'fill-extrusion-vertical-gradient': true,
			'fill-extrusion-translate': [0,0]
          }"
      (layerMouseEnter)="cursorStyle = 'pointer'"
      (layerMouseLeave)="cursorStyle = ''"
      (layerClick)="onClick($event)"
    >
    </mgl-layer>
	
	
	
	
    <mgl-popup *ngIf="selectedLngLat" [lngLat]="selectedLngLat">
      <span [innerHTML]="selectedElement?.['description']"></span>
    </mgl-popup>
	
	<!--mgl-geojson-source id="symbols-source">
        <mgl-feature
          *ngFor="let geometry of points"
          [geometry]="geometry"
        ></mgl-feature>
      </mgl-geojson-source>
      <mgl-layer
        id="symbols"
        type="symbol"
        source="symbols-source"
        [layout]="{
          'text-size': 19,
          'text-transform': 'uppercase',
          'text-offset': [0, 0],
          'text-field': ['get', 'message']
        }"
		[paint]= "{
          'text-color': '#000',
          'text-halo-color': '#fff',
          'text-halo-width': 2
        }"
        (layerMouseEnter)="cursorStyle = 'pointer'"
        (layerMouseLeave)="cursorStyle = ''"
      >
      </mgl-layer-->
	
	
  </mgl-map>
</ion-content>
